.finish {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.finish p {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 5px;
  width: 60%;
}

.finish h3 {
  margin-top: 50px;
}
